body {
  font-family: 'Roboto Mono', monospace;
}

.container {
  width: 100%;
  /* outline: solid 1px red; */
}

.container-heading {
  color: #fff;
  font-size: 24px;
  margin: auto;
  padding: 30px 10px 10px 10px;
  position: relative;
  text-align: center;
  text-shadow: 0 2px 2px #000;
  width: 675px;
  /* outline: solid 1px blue; */
}

.container-info {
  -ms-flex-align: start;
  -ms-flex-direction: column;
  -ms-flex-pack: center;
  -webkit-box-align: start;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  width: 900px;
  /* outline: solid 1px blue; */
}

.container-info a {
  -webkit-transition: color 150ms ease;
  color: #53aad0;
  display: block;
  font-size: 20px;
  font-style: italic;
  opacity: 1;
  text-shadow: 0 2px 2px #000;
  transition: color 150ms ease;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  /* outline: solid 1px red; */
}

.container-info i {
  font-size: 14px;
  margin-left: 10px;
}

.container-info a:hover {
  color: #87CEEB;
}

.container-info li {
  margin-bottom: 30px;
  /* outline: solid 1px blue; */
}

.container-info li:last-of-type {
  margin-bottom: 0;
}

.container-info p {
  color: #fff;
  font-size: 18px;
  padding-left: 10px;
  text-shadow: 0 2px 2px #000;
}

.container-info ul {
  list-style-type: none;
  padding: 15px 15px 35px 15px;
}

.container-logo {
  -ms-flex-align: end;
  -ms-flex-direction: row;
  -webkit-box-align: end;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  align-items: flex-end;
  bottom: 10px;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 10px;
  width: 175px;

}

.container-logo img {
  height: auto;
  width: 100%;
}

.container-logo img:first-of-type {
  margin: 0 10px 0 0;
}

.current-time-container {
  -ms-flex-direction: column;
  -ms-flex-pack: justify;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: justify;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  font-style: italic;
  justify-content: space-between;
  list-style-type: none;
  position: relative;
}

#feeds,
#location,
#things {
  left: 0;
  position: absolute;
  top: -100px;
}

footer {
  -ms-flex-align: center;
  -ms-flex-direction: row;
  -ms-flex-pack: justify;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: justify;
  align-items: center;
  background-color: #000;
  color: #fff;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: row;
  font-size: 14px;
  height: auto;
  justify-content: space-between;
  padding: 10px;
}

.footer-logo {
  width: 75px;
}

.footer-logo img {
  height: auto;
  width: 100%;
}

header {
  -webkit-box-shadow: 0 5px 20px #000;
  background-color: #000;
  box-shadow: 0 5px 20px #000;
  color: #fff;
  height: auto;
  left: 0;
  padding: 15px 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  /* outline: solid 1px blue; */
}

header h1 {
  font-size: 38px;
  text-align: center;
  /* outline: solid 1px blue; */
}

.main {
  -ms-flex-align: center;
  -ms-flex-direction: column;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  align-items: center;
  background-attachment: fixed;
  background-image: -webkit-gradient(linear,
      left top, right top,
      from(rgba(0, 0, 0, 0.75)),
      to(rgba(0, 0, 0, 0.25))),
    url("../img/earth-bg.webp");
  background-image: linear-gradient(90deg,
      rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 0.25)),
    url("../img/earth-bg.webp");
  background-position: center;
  background-size: cover;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  padding: 110px 0 20px 0;
}

.main h1 {
  color: #87CEEB;
  font-size: 30px;
  margin: auto;
  padding: 10px;
  text-align: left;
  text-shadow: 0 2px 2px #000;
  width: 900px;
  /* outline: solid 1px blue; */
}

#map {
  border-radius: 5px;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.map-container {
  -webkit-box-shadow: 0 0 20px #000;
  border-radius: 5px;
  border: solid 1px #000;
  box-shadow: 0 0 20px #000;
  height: 400px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 675px;
}

.map-data {
  -ms-flex-align: center;
  -ms-flex-direction: row;
  -ms-flex-pack: justify;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: justify;
  align-items: center;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: row;
  font-style: italic;
  justify-content: space-between;
  position: relative;
  /* outline: solid 1px blue; */
}

.map-data-button {
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  align-items: center;
  background-color: #fff;
  border-right: solid 1px #000;
  border-top-right-radius: 5px;
  border-top: solid 1px #000;
  bottom: calc(100% + 10px);
  cursor: pointer;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  font-size: 24px;
  height: 35px;
  justify-content: center;
  left: -10px;
  position: absolute;
  width: 45px;
}

.map-data-container-toggle-fullscreen {
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}

.map-data-checkbox:hover {
  cursor: pointer;
}

.map-data-checkbox-container {
  -ms-flex-direction: row;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  background-color: #fff;
  border-right: solid 1px #000;
  border-top-right-radius: 5px;
  border-top: solid 1px #000;
  bottom: -10px;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: row;
  left: calc(100% + 10px);
  padding: 5px 10px 5px 0;
  position: absolute;
}

.map-data-container {
  -ms-flex-direction: column;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-transition: -webkit-transform 250ms ease;
  background-color: #fff;
  border-right: solid 1px #000;
  border-top-right-radius: 5px;
  border-top: solid 1px #000;
  bottom: 0;
  color: #000;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  height: auto;
  left: 0;
  padding: 10px;
  position: absolute;
  /* top: 100%; */
  transition: -webkit-transform 250ms ease;
  transition: transform 250ms ease, -webkit-transform 250ms ease;
  transition: transform 250ms ease;
  width: 400px;
  z-index: 2;
}

.map-data-container ul {
  font-size: 14px;
  list-style-type: none;
  width: 100%;
  /* outline: solid 1px blue; */
}

.map-data-title {
  color: #FF0000;
}

.map-video-container {
  -ms-flex-direction: column;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  /* outline: solid 1px blue; */
}

.navigation {
  -ms-flex-align: center;
  -ms-flex-direction: row;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  align-items: center;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  width: 100%;
  /* outline: solid 1px blue; */
}

.navigation a {
  -webkit-transition: color 150ms ease;
  color: #53aad0;
  font-size: 16px;
  margin: 0 15px;
  transition: color 150ms ease;
}

.navigation a:hover {
  color: #87CEEB;
}

.things-container a {
  position: relative;
}

.things-logo {
  bottom: 0;
  left: 100%;
  margin-left: 10px;
  position: absolute;
  width: 30px;
}

.things-logo img {
  height: auto;
  width: 100%;
}


.up-arrow {
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-shadow: 0 0 5px #000;
  -webkit-transition: right 250ms ease;
  align-items: center;
  background-color: #fff;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  bottom: 95px;
  box-shadow: 0 0 5px #000;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  font-size: 35px;
  height: 55px;
  justify-content: center;
  position: fixed;
  right: -60px;
  text-decoration: none;
  transition: right 250ms ease;
  width: 55px;
  z-index: 5;
}

.up-arrow i {
  -webkit-transform: rotate(135deg);
  -webkit-transition: color 150ms ease;
  color: #53aad0;
  transform: rotate(135deg);
  transition: color 150ms ease;
}

.up-arrow:hover i {
  color: #87CEEB;
}

.video {
  -webkit-box-shadow: 0 0 20px #000;
  border-radius: 5px;
  border: solid 1px #000;
  box-shadow: 0 0 20px #000;
  height: 400px;
  margin: 0 auto 20px auto;
  overflow: hidden;
  position: relative;
  width: 675px;
}

.video iframe {
  height: 100%;
  width: 100%;
}

.video-container {
  -ms-flex-direction: row;
  -ms-flex-pack: space-evenly;
  -ms-flex-wrap: wrap;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: space-evenly;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  /* outline: solid 1px blue; */
}

.video-view {
  background-color: #fff;
  border-left: solid 1px #000;
  border-top: solid 1px #000;
  border-top-left-radius: 5px;
  bottom: 0;
  color: #FF0000;
  font-size: 14px;
  font-style: italic;
  padding: 5px 15px;
  position: absolute;
  right: 0;
}

@media(max-width: 1000px) {

  .container-heading {
    font-size: 22px;
  }

  .container-info {
    width: 675px;
  }

  .container-info p {
    font-size: 16px;
    padding-left: 10px;
  }

  .container-info ul {
    padding: 10px 10px 20px 10px;
  }

  .container-logo {
    width: 125px;
  }

  header h1 {
    font-size: 30px;
  }

  .main {
    padding: 100px 0 40px 0;
  }

  .main h1 {
    font-size: 26px;
    width: 675px;
  }
}

@media(max-width:700px) {

  .container-heading {
    width: 95%
  }

  .container-info {
    width: 95%;
  }

  .container-info a {
    font-size: 18px;
  }

  .container-info a:hover {
    opacity: 1;
  }

  header h1 {
    font-size: 24px;
  }

  #feeds,
  #location,
  #things {
    top: -85px;
  }

  .footer-logo {
    width: 55px;
  }

  .map-container,
  .video {
    height: 300px;
    width: 95%;
  }

  .map-data-container-toggle-mobile {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  .map-data-container {
    bottom: auto;
    top: 100%;
    width: 215px;
  }

  .map-data {
    -ms-flex-align: start;
    -ms-flex-direction: column;
    -webkit-box-align: start;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    align-items: flex-start;
    flex-direction: column;
  }

  .main h1 {
    width: 95%;
  }

  .navigation a:hover {
    color: #53aad0;
  }

  .up-arrow {
    bottom: 80px;
    font-size: 26px;
    height: 45px;
    width: 45px;
  }

  .up-arrow:hover i {
    color: #53aad0;
  }

  .video-container {
    -ms-flex-direction: column;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    flex-direction: column;
  }
}

@media(max-width:400px) {

  .container-heading {
    padding: 30px 10px 15px 10px;
    width: 100%
  }

  .container-info {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0;
    margin: 0;
    width: 100%;
  }

  .container-info:last-of-type ul:last-of-type {
    padding: 0 10px 20px 10px;
  }

  .container-logo {
    -ms-flex-direction: column;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    flex-direction: column;
    width: 55px;
  }

  .container-logo img:first-of-type {
    margin: 0 0 10px 0;
  }

  #feeds,
  #location,
  #things {
    top: -110px;
  }

  .footer-logo {
    width: 50px;
  }

  header h1 {
    font-size: 22px;
  }

  .main {
    background-image: -webkit-gradient(linear,
        left top, right top,
        from(rgba(0, 0, 0, 0.75)),
        to(rgba(0, 0, 0, 0.25))),
      url("../img/earth-bg-mobile.webp");
    background-image: linear-gradient(90deg,
        rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 0.25)),
      url("../img/earth-bg-mobile.webp");
    padding: 120px 0 0 0;
  }

  .main h1 {
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 20px;
    width: 100%
  }

  .map-container,
  .video {
    height: 250px;
  }

  .map-video-container {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .things-logo {
    width: 25px;
  }

  .up-arrow {
    bottom: 70px;
  }
}