body {
  font-family: 'Roboto Mono', monospace;
}

.container {
  width: 100%;
  /* outline: solid 1px red; */
}

.container-heading {
  color: #fff;
  font-size: 24px;
  margin: auto;
  padding: 30px 10px 10px 10px;
  text-align: center;
  text-shadow: 0 2px 2px #000;
  width: 675px;
  /* outline: solid 1px blue; */
}

.container-info {
  -ms-flex-align: start;
  -ms-flex-direction: column;
  -ms-flex-pack: center;
  -webkit-box-align: start;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.75);
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 900px;
  /* outline: solid 1px blue; */
}

.container-info a {
  -webkit-transition: opacity 150ms ease;
  color: #53aad0;
  display: block;
  font-size: 20px;
  font-style: italic;
  opacity: 1;
  text-shadow: 0 2px 2px #000;
  transition: opacity 150ms ease;
  width: 100%;
  /* outline: solid 1px red; */
}

.container-info i {
  font-size: 14px;
  margin-left: 10px;
}

.container-info a:hover {
  opacity: 0.75;
}

.container-info li {
  margin-bottom: 30px;
  /* outline: solid 1px blue; */
}

.container-info li:last-of-type {
  margin-bottom: 0;
}

.container-info p {
  color: #fff;
  font-size: 18px;
  padding-left: 10px;
  text-shadow: 0 2px 2px #000;
}

.container-info ul {
  list-style-type: none;
  padding: 15px 15px 35px 15px;
}

.current-time-container ul {
  -ms-flex-direction: row;
  -ms-flex-pack: justify;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: justify;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: row;
  font-size: 14px;
  justify-content: space-between;
  list-style-type: none;
  position: relative;
}

footer {
  -ms-flex-align: center;
  -ms-flex-direction: row;
  -ms-flex-pack: justify;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: justify;
  align-items: center;
  background-color: #000;
  color: #fff;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: row;
  font-size: 14px;
  height: auto;
  justify-content: space-between;
  padding: 10px;
}

.footer-logo {
  width: 75px;
}

.footer-logo img {
  height: auto;
  width: 100%;
}

header {
  -webkit-box-shadow: 0 5px 20px #000;
  background-color: #000;
  box-shadow: 0 5px 20px #000;
  color: #fff;
  height: auto;
  left: 0;
  padding: 20px 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}

header h1 {
  font-size: 38px;
  text-align: center;
  /* outline: solid 1px blue; */
}

.header-logo {
  bottom: 5px;
  position: absolute;
  right: 10px;
  width: 75px;

}

.header-logo img {
  height: auto;
  width: 100%;
}

.main {
  -ms-flex-align: center;
  -ms-flex-direction: column;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  align-items: center;
  background-attachment: fixed;
  background-image: -webkit-gradient(linear,
      left top, right top,
      from(rgba(0, 0, 0, 0.75)),
      to(rgba(0, 0, 0, 0.25))),
    url("../img/earth-bg.webp");
  background-image: linear-gradient(90deg,
      rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 0.25)),
    url("../img/earth-bg.webp");
  background-position: center;
  background-size: cover;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  padding: 110px 0 20px 0;
}

.main h1 {
  color: #87CEEB;
  font-size: 30px;
  margin: auto;
  padding: 10px;
  text-align: left;
  text-shadow: 0 2px 2px #000;
  width: 900px;
  /* outline: solid 1px blue; */
}

#map {
  border-radius: 5px;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.map-container {
  -webkit-box-shadow: 0 0 20px #000;
  border-radius: 5px;
  border: solid 1px #000;
  box-shadow: 0 0 20px #000;
  height: 400px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 675px;
}

.map-data-button {
  display: none;
}

.map-data-container {
  -ms-flex-direction: column;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-transition: -webkit-transform 250ms ease;
  background-color: #fff;
  border-right: solid 1px #000;
  border-top-right-radius: 5px;
  border-top: solid 1px #000;
  bottom: 0;
  color: #000;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  height: auto;
  left: 0;
  padding: 10px;
  position: absolute;
  transition: -webkit-transform 250ms ease;
  transition: transform 250ms ease, -webkit-transform 250ms ease;
  transition: transform 250ms ease;
  width: 400px;
  z-index: 2;
}

.map-data {
  -ms-flex-align: center;
  -ms-flex-direction: row;
  -ms-flex-pack: justify;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: justify;
  align-items: center;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* outline: solid 1px blue; */
}

.map-data ul {
  font-size: 14px;
  list-style-type: none;
}

.map-data-title {
  color: #FF0000;
}

.map-video-container {
  -ms-flex-direction: column;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  /* outline: solid 1px blue; */
}

.up-arrow {
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-shadow: 0 0 5px #000;
  -webkit-transition: right 250ms ease;
  align-items: center;
  background-color: #fff;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  bottom: 95px;
  box-shadow: 0 0 5px #000;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  font-size: 35px;
  height: 55px;
  justify-content: center;
  position: fixed;
  right: -60px;
  text-decoration: none;
  transition: right 250ms ease;
  width: 55px;
  z-index: 5;
}

.up-arrow i {
  -webkit-transform: rotate(135deg);
  -webkit-transition: color 150ms ease;
  color: #000;
  transform: rotate(135deg);
  transition: color 150ms ease;
}

.up-arrow:hover i {
  color: #87CEEB;
}

.video {
  -webkit-box-shadow: 0 0 20px #000;
  border-radius: 5px;
  border: solid 1px #000;
  box-shadow: 0 0 20px #000;
  height: 400px;
  margin: 0 auto 20px auto;
  overflow: hidden;
  position: relative;
  width: 675px;
}

.video iframe {
  height: 100%;
  width: 100%;
}

.video-container {
  -ms-flex-direction: row;
  -ms-flex-pack: space-evenly;
  -ms-flex-wrap: wrap;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: space-evenly;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  /* outline: solid 1px blue; */
}

.video-view {
  background-color: #000;
  border-top-left-radius: 5px;
  bottom: 0;
  color: #FF0000;
  font-style: italic;
  padding: 5px 15px;
  position: absolute;
  right: 0;
}

@media(max-width: 1000px) {

  .container-heading {
    font-size: 22px;
  }

  .container-info {
    width: 675px;
  }

  .container-info p {
    font-size: 16px;
    padding-left: 10px;
  }

  .container-info ul {
    padding: 10px 10px 20px 10px;
  }

  header h1 {
    font-size: 30px;
  }

  .header-logo {
    width: 65px;

  }

  .main {
    padding: 100px 0 40px 0;
  }

  .main h1 {
    font-size: 26px;
    width: 675px;
  }
}

@media(max-width:700px) {

  .container-heading {
    width: 95%
  }

  .container-info {
    width: 95%;
  }

  .container-info a:hover {
    opacity: 1;
  }

  .current-time-container ul {
    -ms-flex-direction: column;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    flex-direction: column;
  }

  header h1 {
    font-size: 24px;
    text-align: left;
  }

  .footer-logo,
  .header-logo {
    width: 55px;
  }

  .map-container,
  .video {
    height: 300px;
    width: 95%;
  }

  .map-data-button {
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    align-items: center;
    background-color: #fff;
    border-right: solid 1px #000;
    border-top-right-radius: 5px;
    border-top: solid 1px #000;
    cursor: pointer;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    font-size: 24px;
    height: 35px;
    justify-content: center;
    left: 0;
    position: absolute;
    top: -35px;
    width: 45px;
  }

  .map-data-container-toggle {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  .map-data-container {
    bottom: auto;
    /* padding: 5px 10px; */
    top: 100%;
    width: 250px;
  }

  .map-data {
    -ms-flex-align: start;
    -ms-flex-direction: column;
    -webkit-box-align: start;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    align-items: flex-start;
    flex-direction: column;
  }

  .main h1 {
    width: 95%;
  }

  .up-arrow {
    bottom: 80px;
    font-size: 26px;
    height: 45px;
    width: 45px;
  }

  .up-arrow:hover i {
    color: #000;
  }

  .video-container {
    -ms-flex-direction: column;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    flex-direction: column;
  }
}

@media(max-width:400px) {

  .container-heading {
    /* background-color: rgba(0, 0, 0, 0.5); */
    padding: 30px 10px 5px 10px;
    width: 100%
  }

  .container-info {
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0;
    width: 100%;
  }

  .container-info:last-of-type ul:last-of-type {
    padding: 0 10px 20px 10px;
  }

  .footer-logo,
  .header-logo {
    width: 50px;

  }

  header h1 {
    font-size: 22px;
  }

  .main {
    background-image: -webkit-gradient(linear,
        left top, right top,
        from(rgba(0, 0, 0, 0.75)),
        to(rgba(0, 0, 0, 0.25))),
      url("../img/earth-bg-mobile.webp");
    background-image: linear-gradient(90deg,
        rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 0.25)),
      url("../img/earth-bg-mobile.webp");
    padding: 100px 0 0 0;
  }

  .main h1 {
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 20px;
    width: 100%
  }

  .map-container,
  .video {
    height: 250px;
  }

  .map-video-container {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .up-arrow {
    bottom: 70px;
  }
}