body {
  font-family: 'Roboto Mono', monospace;
}

.container {
  width: 80%;
  /* outline: solid 1px red; */
}

.container-info {
  -ms-flex-align: start;
  -ms-flex-direction: column;
  -ms-flex-pack: center;
  -webkit-box-align: start;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.8);
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px auto 0 auto;
  width: 675px;
  /* outline: solid 1px blue; */
}

.container-info a {
  -webkit-transition: opacity 150ms ease;
  color: #87CEEB;
  font-size: 22px;
  opacity: 1;
  text-shadow: 0 2px 2px #000;
  transition: opacity 150ms ease;
}

.container-info i {
  font-size: 16px;
  margin-left: 10px;
}

.container-info a:hover {
  opacity: 0.75;
}

.container-info li:first-of-type {
  margin-bottom: 10px;
}

.container-info ul {
  list-style-type: none;
  padding: 35px 15px;
}

.container ul p {
  color: #fff;
  font-size: 16px;
  padding-left: 10px;
  text-shadow: 0 2px 2px #000;
}

footer {
  -ms-flex-align: center;
  -ms-flex-direction: row;
  -ms-flex-pack: justify;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: justify;
  align-items: center;
  background-color: #000;
  color: #fff;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: row;
  font-size: 14px;
  height: auto;
  justify-content: space-between;
  padding: 10px;
}

.footer-logo {
  width: 75px;
}

.footer-logo img {
  height: auto;
  width: 100%;
}

header {
  -webkit-box-shadow: 0 5px 20px #000;
  background-color: #000;
  box-shadow: 0 5px 20px #000;
  color: #fff;
  height: auto;
  left: 0;
  padding: 20px 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}

header h1 {
  font-size: 38px;
  text-align: center;
  /* outline: solid 1px blue; */
}

.header-logo {
  bottom: 5px;
  position: absolute;
  right: 5px;
  width: 75px;

}

.header-logo img {
  height: auto;
  width: 100%;
}

.main {
  -ms-flex-align: center;
  -ms-flex-direction: column;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  align-items: center;
  background-attachment: fixed;
  background-image: url("../img/earth-bg.webp");
  background-position: center;
  background-size: cover;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  padding: 110px 0 20px 0;
}

.main h2 {
  color: #fff;
  font-size: 24px;
  padding: 10px;
  text-align: center;
  text-shadow: 0 2px 2px #000;
  width: 100%;
}

#map {
  border-radius: 5px;
  height: 100%;
  width: 100%;
  z-index: 1;
}

#map-container {
  -webkit-box-shadow: 0 0 20px #000;
  border-radius: 5px;
  border: solid 1px #000;
  box-shadow: 0 0 20px #000;
  height: 400px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 675px;
}

.map-data-button {
  display: none;
}

.map-data-container {
  -webkit-transition: -webkit-transform 250ms ease;
  background-color: #fff;
  border-right: solid 1px #000;
  border-top-right-radius: 5px;
  border-top: solid 1px #000;
  bottom: 0;
  color: #000;
  height: auto;
  left: 0;
  padding: 5px 10px;
  position: absolute;
  transition: -webkit-transform 250ms ease;
  transition: transform 250ms ease, -webkit-transform 250ms ease;
  transition: transform 250ms ease;
  width: 450px;
  z-index: 2;
}

.map-data-container div {
  -ms-flex-align: center;
  -ms-flex-direction: row;
  -ms-flex-pack: justify;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: justify;
  align-items: center;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  /* outline: solid 1px blue; */
}

.map-data-container ul {
  font-size: 14px;
  list-style-type: none;
}

.popup h3 {
  margin: 0;
}

.popup p {
  margin: 0;
}

.popup span {
  color: #ff0000;
  margin-top: 5px;
}

@media(max-width: 1000px) {
  .container {
    width: 100%;
  }

  .container-info a {
    font-size: 20px;
  }

  .container-info ul {
    padding: 35px 10px;
  }

  .container ul p {
    padding-left: 10px;
  }

  header h1 {
    font-size: 30px;
  }

  .header-logo {
    width: 65px;

  }

  .main {
    padding: 100px 0 40px 0;
  }

  .main h2 {
    font-size: 20px;
  }
}

@media(max-width:700px) {

  .container-info {
    width: 95%;
  }

  .container-info a:hover {
    opacity: 1;
  }

  header h1 {
    font-size: 24px;
    text-align: left;
  }

  .footer-logo,
  .header-logo {
    width: 55px;
  }

  #map-container {
    height: 300px;
    width: 95%;
  }

  .map-data-button {
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    align-items: center;
    background-color: #fff;
    border-right: solid 1px #000;
    border-top-right-radius: 5px;
    border-top: solid 1px #000;
    cursor: pointer;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    font-size: 24px;
    height: 35px;
    justify-content: center;
    left: -10px;
    position: absolute;
    top: -40px;
    width: 45px;
  }

  .map-data-container-toggle {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  .map-data-container {
    bottom: auto;
    top: 100%;
    width: 225px;
  }

  .map-data-container div {
    -ms-flex-align: start;
    -ms-flex-direction: column;
    -webkit-box-align: start;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    align-items: flex-start;
    flex-direction: column;
  }

  .main h2 {
    font-size: 18px;
  }
}

@media(max-width:400px) {

  .container-info {
    margin: 0;
    width: 100%;
  }

  .footer-logo,
  .header-logo {
    width: 45px;

  }

  header h1 {
    font-size: 22px;
  }

  .main {
    background-image: url("../img/earth-bg-mobile.webp");
    padding: 130px 0 0 0;
  }

  .main h2 {
    text-align: left;
  }

  #map {
    border-radius: 0;
  }

  #map-container {
    -webkit-box-shadow: none;
    border-radius: 0;
    box-shadow: none;
    height: 250px;
    width: 100%;
  }
}